lit==16.0.6 # required for mlir testing
# Install MLIR Python bindings from prebuilt wheels or use the source build by defining PYTHONPATH
-f https://github.com/makslevental/mlir-wheels/releases/expanded_assets/latest
mlir_python_bindings

# For GPU support (according to https://www.stephendiehl.com/posts/mlir_gpu/)
cuda-python